body {
	background-color: black;
}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.ryu {
	float: left;
	width: 659px;
	height: 494px;
}
.ryu-still {
	width: 659px;
	height: 494px;
	background-image: url('../images/ryu-standing-still.png');
	background-repeat: no-repeat;
}
.ryu-ready {
	width: 659px;
	height: 494px;
	background-image: url('../images/ryu-ready-position.gif');
	display: none;
	background-repeat: no-repeat;
}
.ryu-cool{
	width: 659px;
	height: 494px;
	background-image: url('../images/ryu-cool.gif');
	display: none;
	background-repeat: no-repeat;
}
.ryu-throwing {
	width: 659px;
	height: 494px;
	background-image: url('../images/ryu-throwing-hadouken.png');
	display: none;
	background-repeat: no-repeat;
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 175px;
	left: 619px;
	float: left;
}
//* {
	outline: red 1px solid;
}